# Analyse the wind data

Let's try to do some analysis using the wind data that we have extracted before.

In [10]:
# Import the necessary libraries
import pandas as pd
import numpy as np

In [8]:
# Load the data
df = pd.read_csv('D:/Projects/fiji-training-2024/notebooks/day_06/sample_wind_fiji.csv')
df

                    time       u10       v10  latitude  longitude
0    2023-06-01 00:00:00 -3.589922  0.648727  -18.0244   178.5454
1    2023-06-01 01:00:00 -3.306632  1.027714  -18.0244   178.5454
2    2023-06-01 02:00:00 -3.562085  1.597830  -18.0244   178.5454
3    2023-06-01 03:00:00 -3.878852  2.228314  -18.0244   178.5454
4    2023-06-01 04:00:00 -3.850276  3.067963  -18.0244   178.5454
..                   ...       ...       ...       ...        ...
715  2023-06-30 19:00:00  1.584172  2.042440  -18.0244   178.5454
716  2023-06-30 20:00:00  1.475374  2.647312  -18.0244   178.5454
717  2023-06-30 21:00:00  0.880027  3.008775  -18.0244   178.5454
718  2023-06-30 22:00:00  0.416584  3.111788  -18.0244   178.5454
719  2023-06-30 23:00:00 -0.048669  3.340774  -18.0244   178.5454

[720 rows x 5 columns]

In [9]:
# Convert the time column to datetime
df['time'] = pd.to_datetime(df['time'])

# Set the time column as the index
df.set_index('time', inplace=True)

df

                          u10       v10  latitude  longitude
time
2023-06-01 00:00:00 -3.589922  0.648727  -18.0244   178.5454
2023-06-01 01:00:00 -3.306632  1.027714  -18.0244   178.5454
2023-06-01 02:00:00 -3.562085  1.597830  -18.0244   178.5454
2023-06-01 03:00:00 -3.878852  2.228314  -18.0244   178.5454
2023-06-01 04:00:00 -3.850276  3.067963  -18.0244   178.5454
...                       ...       ...       ...        ...
2023-06-30 19:00:00  1.584172  2.042440  -18.0244   178.5454
2023-06-30 20:00:00  1.475374  2.647312  -18.0244   178.5454
2023-06-30 21:00:00  0.880027  3.008775  -18.0244   178.5454
2023-06-30 22:00:00  0.416584  3.111788  -18.0244   178.5454
2023-06-30 23:00:00 -0.048669  3.340774  -18.0244   178.5454

[720 rows x 4 columns]

Now we have our dataframe ready. You see that we only have u and v, which are the eastward and northward wind components. We can calculate the wind speed and wind direction from these two components.

In [12]:
# Calculate the wind speed
df['wind_speed'] = (df['u10']**2 + df['v10']**2)**0.5

# Calculate the wind direction
df['wind_dir'] = 180 + (180/3.14159) * np.arctan2(df['u10'], df['v10'])

df

,u10,v10,latitude,longitude,wind_speed,wind_dir
time,,,,,,
2023-06-01 00:00:00,-3.589922,0.648727,-18.0244,178.5454,3.648066,100.243180
2023-06-01 01:00:00,-3.306632,1.027714,-18.0244,178.5454,3.462660,107.265390
2023-06-01 02:00:00,-3.562085,1.597830,-18.0244,178.5454,3.904038,114.159331
2023-06-01 03:00:00,-3.878852,2.228314,-18.0244,178.5454,4.473352,119.876363
2023-06-01 04:00:00,-3.850276,3.067963,-18.0244,178.5454,4.923111,128.548365
...,...,...,...,...,...,...
2023-06-30 19:00:00,1.584172,2.042440,-18.0244,178.5454,2.584795,217.798166
2023-06-30 20:00:00,1.475374,2.647312,-18.0244,178.5454,3.030675,209.131388
2023-06-30 21:00:00,0.880027,3.008775,-18.0244,178.5454,3.134832,196.303512
2023-06-30 22:00:00,0.416584,3.111788,-18.0244,178.5454,3.139549,187.625026
2023-06-30 23:00:00,-0.048669,3.340774,-18.0244,178.5454,3.341128,179.165357

Now we have the wind speed and wind direction. To be able to calculate wind mode, we need to categorize the wind speed into wind compass direction.

In [14]:
# Function to categorize the wind direction
def wind_dir_cat(x):
    if x >= 337.5 or x < 22.5:
        return 'N'
    elif x >= 22.5 and x < 67.5:
        return 'NE'
    elif x >= 67.5 and x < 112.5:
        return 'E'
    elif x >= 112.5 and x < 157.5:
        return 'SE'
    elif x >= 157.5 and x < 202.5:
        return 'S'
    elif x >= 202.5 and x < 247.5:
        return 'SW'
    elif x >= 247.5 and x < 292.5:
        return 'W'
    elif x >= 292.5 and x < 337.5:
        return 'NW'

In [17]:
df['wd_cat'] = df['wind_dir'].apply(wind_dir_cat)

df

,u10,v10,latitude,longitude,wind_speed,wind_dir,wd_cat
time,,,,,,,
2023-06-01 00:00:00,-3.589922,0.648727,-18.0244,178.5454,3.648066,100.243180,E
2023-06-01 01:00:00,-3.306632,1.027714,-18.0244,178.5454,3.462660,107.265390,E
2023-06-01 02:00:00,-3.562085,1.597830,-18.0244,178.5454,3.904038,114.159331,SE
2023-06-01 03:00:00,-3.878852,2.228314,-18.0244,178.5454,4.473352,119.876363,SE
2023-06-01 04:00:00,-3.850276,3.067963,-18.0244,178.5454,4.923111,128.548365,SE
...,...,...,...,...,...,...,...
2023-06-30 19:00:00,1.584172,2.042440,-18.0244,178.5454,2.584795,217.798166,SW
2023-06-30 20:00:00,1.475374,2.647312,-18.0244,178.5454,3.030675,209.131388,SW
2023-06-30 21:00:00,0.880027,3.008775,-18.0244,178.5454,3.134832,196.303512,S
2023-06-30 22:00:00,0.416584,3.111788,-18.0244,178.5454,3.139549,187.625026,S
2023-06-30 23:00:00,-0.048669,3.340774,-18.0244,178.5454,3.341128,179.165357,S

Let's make daily statistics of the wind data. For this, we only need several columns such as wind speed, wind direction, and wind direction category.

In [18]:
# Make subset of the dataframe
df_subset = df[['wind_speed', 'wind_dir', 'wd_cat']]
df_subset

                     wind_speed    wind_dir wd_cat
time
2023-06-01 00:00:00    3.648066  100.243180      E
2023-06-01 01:00:00    3.462660  107.265390      E
2023-06-01 02:00:00    3.904038  114.159331     SE
2023-06-01 03:00:00    4.473352  119.876363     SE
2023-06-01 04:00:00    4.923111  128.548365     SE
...                         ...         ...    ...
2023-06-30 19:00:00    2.584795  217.798166     SW
2023-06-30 20:00:00    3.030675  209.131388     SW
2023-06-30 21:00:00    3.134832  196.303512      S
2023-06-30 22:00:00    3.139549  187.625026      S
2023-06-30 23:00:00    3.341128  179.165357      S

[720 rows x 3 columns]

In [19]:
# Calculate daily statistics
daily_stats = df_subset.resample('D').agg({'wind_speed': ['mean', 'max', 'min'],'wind_dir': ['mean'], 'wd_cat': lambda x: x.value_counts().index[0]})

In [20]:
daily_stats

           wind_speed                        wind_dir   wd_cat
                 mean       max       min        mean <lambda>
time
2023-06-01   4.397257  5.261989  3.462660  120.308756       SE
2023-06-02   5.293185  7.453001  3.411173  118.288203       SE
2023-06-03   5.206716  7.400163  3.476804  113.011466       SE
2023-06-04   5.784533  6.466504  4.926429  118.818170       SE
2023-06-05   2.463770  5.159479  0.778088  137.731321       SE
2023-06-06   2.607612  4.203748  1.663557  111.626859       SE
2023-06-07   4.151763  5.645778  2.744413   54.912948       NE
2023-06-08   3.910896  5.482476  2.106820  175.076472        N
2023-06-09   3.967867  5.171293  2.281283  173.506553        S
2023-06-10   4.465004  5.241588  2.975191  154.666108       SE
2023-06-11   4.619167  5.283374  4.047185  128.105953       SE
2023-06-12   5.002493  5.522943  4.398426  120.212506       SE
2023-06-13   3.562134  5.376319  2.401848   85.004553        E
2023-06-14   4.643111  7.529155  2.487411   93.502723        E
2023-06-15   5.918782  7.733761  4.533547   79.999016        E
2023-06-16   5.118308  6.493696  3.815908  109.405331        E
2023-06-17   3.139010  3.909494  2.043448  146.846784        S
2023-06-18   3.424307  4.236250  2.859967  180.731904        S
2023-06-19   3.975147  4.809845  3.071963  147.522720       SE
2023-06-20   3.652056  4.364980  3.040357  120.153332       SE
2023-06-21   2.060955  3.899440  0.580214   91.523705        E
2023-06-22   2.772945  5.277587  0.133639  195.185111       SW
2023-06-23   3.140648  4.947448  1.713243  200.422206        S
2023-06-24   3.992454  4.716908  2.703346  203.761087       SW
2023-06-25   3.851629  4.921161  3.079055  203.573674       SW
2023-06-26   3.656718  4.321488  1.983332  205.144068       SW
2023-06-27   3.087092  4.306263  2.164243  240.904897        W
2023-06-28   4.277852  6.509801  2.029336  237.959448       SW
2023-06-29   1.580006  2.515100  0.492339  248.048602       NW
2023-06-30   2.696342  3.650151  1.793418  205.878203       SW